.test {
  span {
    margin-right: 10px;cursor: pointer;

  }

  .green {
    background-color: greenyellow;
  }

  .red {
    background-color: red;
    
  }

  .blue {
    background-color: blue;
  }

  .orange {
    background-color: orange;
  }
}